services:
  mongo:
    image: mongo:latest
    container_name: pos_mongo
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: pos_backend
    ports:
      - "5000:5000"
    volumes:
      - ./uploads:/app/uploads
    environment:
      - MONGO_URI=mongodb://mongo:27017/pos_db
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: pos_frontend
    ports:
      - "3000:3000"
    stdin_open: true
    depends_on:
      - backend

volumes:
  mongo-data: