name: POS Cassa CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Installa dipendenze Backend
        working-directory: ./backend
        run: npm install
      - name: Esegui Test Backend
        working-directory: ./backend
        run: npm test

  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Installa dipendenze Frontend
        working-directory: ./frontend
        run: npm install
      - name: Esegui Test Frontend
        working-directory: ./frontend
        run: npm test

  build-docker:
    needs: [test-backend, test-frontend] 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Crea cartella uploads mancante
        run: mkdir -p uploads
      - name: Test Build Docker Compose
        run: docker compose build